
#carrito{
    position: absolute;
    width: auto;
    height: auto;
    top: 330px;
    left: 43.6%;
    text-align: center;
    color: white;
    
}
.carritoEstilo{
    color: var(--pimary-color);
    margin-bottom: 40px;
}

p {
    padding-top: 5px;
    padding-bottom: 5px;
}
#botonRemover {
    position: absolute;
    padding: 9.5px 9.5px 9.5px 9.5px;
    background-color: rgb(247, 82, 82);
    border: 4px solid rgb(221, 18, 18);
    border-radius: 20px;
    left: 350px;
    cursor: pointer;
    transition: ease-in-out;
    font-style: var(--mulish-font);
    transition: transform 0.3s ease-in-out;
    letter-spacing: 0.5px;
}
#botonRemover:hover{
    transform: scale(1.2);
}