.cart-widget {
    position: relative;
    cursor: pointer;
    text-align: center;
    width: 120px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    border: 3px solid black;
    border-radius: 20px;
    background-color: var(--secondary-color);
    transition: 0.5s;
  }

  .cart-widget:hover{
    background-color: #1e5a33;
  }

  
  .qty-display {
    color: white;
    font-size: 42px;
    padding-bottom: 10px;
  }
  #logo2{
    height:60px;
    margin-left: 10px;
    margin-top: 3px;
    padding-right: 10px;
  }
  