.productos{
    display: flex;
    flex-direction: row; 
    top: 280px;   
}
#productosLista{
    margin: 120px;
    margin-left: 100px;

    padding-left:30px;
    position: relative;
    width: 100%;

}
#productoss{
    max-width: 500px;
    width: 380px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px 10px 10px 0px;
    height: 360px;
    text-align: center;
    color: white;
    background-color: rgb(92, 70, 70);
}
#productosS{
    padding-top: 10px;
}
#listado{
    width: 100%;
    position: absolute;
    text-align: center;
    margin: 270px 0;
    font-size: 50px;
    color: var(--pimary-color);;
}
#elRey{
    color: var(--pimary-color);;
}
.separacionProductos{
    margin-right: 30px;
    width: 380px;
    height: 360px;
    filter: opacity(0.92);
    transition: transform 0.3s ease-in-out;
}
.separacionProductos:hover{
    transform: scale(1.04);
}
.botonVerDetalle{
    background-color: var(--pimary-color);
    border: none;
    font-family: var(--mulish-font);
    font-weight: 700;
    font-size: 1rem;
    margin: 20px auto;
    width: 200px;
    border: 2px solid black;
    height: 36px;
    cursor: pointer;
    padding: 5px 5px 5px 5px;
}   
