:root {
  /*fuentes*/
  --catamaran-font: 'Catamaran', sans-serif;
  --mulish-font: 'Mulish', sans-serif;
  /*colores*/
  --pimary-color: #f7b035;
  --secondary-color: #31864f;
  --body-bg-color: #1d1d1d;
  --border-color: #555555;
  --success-color: #4f8a10;
  --error-color: #d8000c;
  --info-color: #31708f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}


html,
body {
  font-family: var(--mulish-font);    
  height: 100vh;
  background-position: 67%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://i.imgur.com/SDv0LT7.png');
}
